meida.xcodeproj/xcuserdata/toto.xcuserdatad/xcschemes/xcschememanagement.plist
meida.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
meida.xcworkspace/xcuserdata/toto.xcuserdatad/UserInterfaceState.xcuserstate
meida.xcworkspace/xcuserdata/toto.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Pods.xcodeproj/xcuserdata/toto.xcuserdatad/xcschemes/xcschememanagement.plist
